@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,italic,500,500italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: url(https://getwallpapers.com/wallpaper/full/1/f/3/1522776-download-hd-sky-wallpaper-1920x1080-for-xiaomi.jpg)
    center no-repeat;
  background-size: cover;
  overflow: hidden;
}
